*{
    padding:0;
    margin: 0;
}
.container{
    height:100vh;
    /* width:100vw; */
    /* background-color: red; */
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.box{
    height:60%; 
    width: 20%;
    background-color:rebeccapurple;
}
@media screen and (max-width:900px){
    .box{
        display: block;
     }  
} 
.flex{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    /* justify-content: flex-end;
    align-items: flex-end; */
}
/* .box1{
    height:30%;
    width:20%;
    background-color:red;
} */
