*{
    padding:0;
    margin: 0;
}
.container{
    height:100vh;
    /* width:100vw; */
    /* background-color: red; */
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#2196f3 , #e91e63); */
    background-image: linear-gradient(to right top, #f8fff8, #def0e6, #c3e2d8, #a5d4ce, #87c5c7, #84c4c1, #82c3ba, #81c1b2, #a5caaa, #c9d0ab, #e8d6b7, #ffdecc);
    /* background: ; */
}

.box{
    height:68%; 
    width: 20%;
    
    /* background-color:rebeccapurple; */
    /* border: 1px solid black; */
    /* background-image: linear-gradient(to right top, #082b5a, #0f2d5c, #152f5d, #1a325f, #1e3461, #203665, #213968, #233b6c, #223e73, #20427a, #1d4582, #194989); */
}
@media screen and (max-width:900px){
    .box{
        display: block;
     }  
} 
.flex{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    /* justify-content: flex-end;
    align-items: flex-end; */
}
.box1{
    height: 19%;
    /* border: 1px solid red; */

}
.box2{
    height:79.3%;
    /* border: 1px solid rgb(145, 143, 143) ; */
    /* background-color: #3D1766; */
    opacity: 0.9;
}
#input{
   height: 94.3%;
    width:98.5%;
    /* background-color: #3D1766; */
    /* background-color: #69e4cf; */
    opacity: 0.7;
    background: transparent;
    border-radius: 0%;
    border-style: ridge;
}
.box3{
    height:20%;
    width:100%;
    /* border:1px solid violet; */
    /* display: flex; */
    
    /* border-spacing: 10px 10px; */
    /* background-color: #3D1766; */
    /* background: linear-gradient(#2196f3 , #e91e63); */
    gap:10px;
}

.flex1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap:0px;
}
.flex2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.button{
    height:95%;
    width:23%;
    border-radius:50% ;   
    background-color:#4FFBDF;
    opacity: 0.6;
    border-color: gray;
    background: transparent;
}
.box4{
    height:15%;
    width:100%;
    /* border:1px solid violet; */
}
#C{
    /* height: %; */
    width:100%;
    border-radius: 0%;
}
.flex4{
    display: flex;
    bottom:10px;
}